<div id="content">
    <h2>Neues Rezept</h2>
    <div id="form">
        <div class="inline">
            <mat-form-field appearance="outline">
                <label>Name</label>
                <input matInput type="text" [(ngModel)]="name">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <label>Aufwand</label>
                <mat-select [(value)]="aufwand">
                    <mat-option value="einfach">Einfach</mat-option>
                    <mat-option value="mittel">Mittel</mat-option>
                    <mat-option value="schwer">Schwer</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div id="zutaten">
            <h3>Zutaten</h3>
            <table mat-table [dataSource]="tableData">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                                    color="primary"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()"
                                    color="primary"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let zutat">{{zutat.lebensmittel.name}}</td>
                </ng-container>
                <ng-container matColumnDef="typ">
                    <th mat-header-cell *matHeaderCellDef>Typ</th>
                    <td mat-cell *matCellDef="let zutat">{{zutat.lebensmittel.typ}}</td>
                </ng-container>
                <ng-container matColumnDef="menge">
                    <th mat-header-cell *matHeaderCellDef>Menge</th>
                    <td mat-cell *matCellDef="let zutat">{{zutat.menge.wert}} {{zutat.menge.einheit}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="['select', 'name', 'typ', 'menge']"></tr>
                <tr mat-row *matRowDef="let row; columns:['select', 'name', 'typ', 'menge'];"></tr>
                <tr class="mat-row" *matNoDataRow><td class="mat-cell" colspan="9999">Keine Zutaten</td></tr>
            </table>
            <button mat-mini-fab color="primary" (click)="deleteZutat()"><mat-icon>delete</mat-icon></button>
            <div class="inline">
                <mat-form-field appearance="outline">
                    <label>Name</label>
                    <input matInput [matAutocomplete]="auto" [(ngModel)]="lebensmittelName" [formControl]="lebensmittelNameFormControl">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="autocompleteSelected($event)">
                        <mat-option *ngFor="let lebensmittel of filteredLebensmittel | async" [value]="lebensmittel">
                            <span>{{lebensmittel.name}}</span> |
                            <small>{{lebensmittel.typ}}</small>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <label>Typ</label>
                    <mat-select [(value)]="lebensmittelTyp">
                        <mat-option *ngFor="let typ of lebensmittelTypen" [value]="typ">{{typ}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <label>Menge</label>
                    <input type="number" matInput [(ngModel)]="mengeWert">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <label>Einheit</label>
                    <mat-select [(value)]="mengeEinheit">
                        <mat-option *ngFor="let val of mengenEinheiten" [value]="val">{{val}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <button color="primary" mat-fab (click)="saveLebensmittel()"><mat-icon>add</mat-icon></button>
            </div>
        </div>
    </div>
    <mat-dialog-actions>
        <button mat-button (click)="abort()">Abbrechen</button>
        <button mat-button (click)="save()">Speichern</button>
    </mat-dialog-actions>
</div>
