<div class="border">
  <div class="header">
    <span>{{rezept.getId()}} - {{rezept.name}}</span>
    <br>
    <span>Aufwand: {{rezept.aufwand}}</span>
  </div>
  <hr>
  <div class="zutaten">
    <ng-container *ngFor="let zutat of rezept.zutaten">
      <span>{{zutat.lebensmittel.name}}: {{zutat.menge.wert}} {{zutat.menge.einheit}}</span>
    </ng-container>
  </div>
  <hr>
  <button mat-icon-button (click)="editRezept()"><mat-icon>edit</mat-icon></button>
  <button mat-icon-button (click)="deleteRezept()"><mat-icon>delete</mat-icon></button>
</div>
